<h2>Books</h2>
<div class="row"  >
  <table class="table">
    <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>More info</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><img alt="" src="https://pbs.twimg.com/profile_images/1471842479477510144/4Iat_-Gz_400x400.jpg" class="rounded-circle"></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-success">Show info</button></td>
    </tr>
    </tbody>
  </table>
</div>
