<h2>users</h2>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>More Info</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.phone}}</td>
        <td><button class="btn btn-success">Show info</button></td>
      </tr>
    </tbody>
  </table>
</div>