<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" aria-current="page" >
          <img src="./favicon.ico" alt="home">
        </a>
      </li>
      <li class="nav-item"><a routerLink="/store" class="nav-link" routerLinkActive="active">Store</a></li>
      <li class="nav-item"><a routerLink="/basket" class="nav-link" routerLinkActive="active">Basket</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a></li>
    </ul>
  </header>
</div>
